{% extends 'base.html' %}
{% load static %}

{% block content %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css"href="{% static 'css/student_login.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Mulish&family=Quicksand&display=swap" rel="stylesheet">
    
  </head>
  <body>
    <div class="container-fluid">


      <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo01">

          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link " aria-current="page" href="">Student</a>
            </li>
            <li class="nav-item">
              <a class="nav-link " aria-current="page" href="admin/">Admin</a>
            </li>

          </ul>

        </div>
      </div>
    </nav>
    <div class="row allmargin">
      <div class="name intro col-lg-5 ">
        <div class="Group9">

        <div id="nametitle" class=" login">
          Login
        </div>
        <div class="enter-your-email-and ">
        <p id="nametitle">  Enter your email and password to login</p>
        </div>
        <form class="" action="examonlineone" method="post">
         {%  csrf_token %}

        <div class="input-box email">
          <input class="rectangle  " type="email" id="email" name="email" placeholder="Email address">
        </div>
          <div class="input-box pwd">
          <input class="rectangle  " type="password" id="pwd" name="pwd"placeholder="Password">
        </div>

        <div class=" create-button pt-3 mb-2">

<button class=" rectangle-copy-3 btn-light create-your-store ct " type="submit">Login</button>
</div>
</form>




      </div>

      </div>
      <div class="pic  col-lg-7 ">
           <img class="namecardpic" src="{% static 'css/sitepic.jpg' %}" alt="">
      </div>

    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>
  </body>
</html>
{% endblock %}
